[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent-websocket = "==0.10.1"
bottle = "==0.12.20"
websockets = "==9.1"
PyChromecast = "==9.2.0"
Werkzeug = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.7"
