[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent-websocket = "==0.10.1"
bottle = "==0.12.23"
websockets = "==10.4"
PyChromecast = "==13.0.1"
Werkzeug = "==2.2.3"

[dev-packages]

[requires]
python_version = "3.10"
