[Unit]
Description=caststatusserver
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
Restart=always
RestartSec=1
#ExecStart=/usr/bin/python3 /home/pi/caststatusserver/web.py
ExecStart=/usr/local/bin/gunicorn --reload --chdir /home/pi/caststatusserver --timeout 1000 web:SERVER
StandardInput=tty-force

[Install]
WantedBy=multi-user.target

